.container {
  background-color: #f7fff7;
  border-radius: 50px;
  margin: 5%;
  width: 90%;
  padding: 1vw;
  text-align: center;
  a:hover {
    opacity: 0.75;
  }
}

.oops-text {
  padding: 2%;
  text-align: center;
  color: #1a535c;
  font-family: impact;
  font-size: 1.5em;
}
