content-box {
    background-color: #F7FFF7;
    border-style: dashed;
    border-color: #707070;
    top: 334;
    width: 1714;
}

save-or-edit-button {
    background-color: #FF6B6B;
    text-align: center;
    border-radius: 20px;
    height: 68;
    width: 197;
    font-style: impact;
    color: white;
    text-transform: uppercase;
}
