.banner-top {
    width: 100vw;
    height: 25vh;
    background-image: url(../../assets/home/background1.svg);
    background-repeat: repeat-x;
    background-position: center top;
}

.banner-bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 25vh;
    background-image: url(../../assets/home/background2.svg);
    background-repeat: repeat-x;
    background-position: bottom center;
}

.title {
    color: #1A535C;
    font-family: impact;
    text-align: center;
    margin-top: 5%;
    font-size: 70px;
}

.description {
    color: #1A535C;
    font-family: impact;
    text-align: center;
    font-size: 35px;
    margin-top: -1vh;
}


