

.list-container {
    background-color: #F7FFF7;
    border-width: thick;
    border-style: dashed;
    border-color: #707070;
    border-radius: 50px;
    margin: 5%;
    width: 90%;
    padding: 50px;
    text-align: center;
}

.item-container {
    background-color: #4EB9B0;
    text-align: left;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 15px auto;
    width: 75% !important;
    padding: 2%;
    text-align: left;
    color: white;
    font-family: impact;
    font-size: 48px;
}

.oops-text {
    padding: 2%;
    text-align: left;
    color: #1A535C;
    font-family: impact;
    font-size: 48px;
}
