.home-nav-link {
    cursor: pointer;
    color:#F7FFF7 !important;
    font-family: impact;
    font-size: 28px;

}

.navbar-main {
    background-color: #4ECDC4;
    height: 70px;
}

.text-modifier {
    color:#F7FFF7 !important;
    font-family: impact;
    font-size: 1em;   
}