.home-nav-link {
  cursor: pointer;
  color: #f7fff7 !important;
  font-family: impact;
  font-size: 28px;
}

.navbar-main {
  background-color: #4ecdc4;
  min-height: 70px;
}

.text-modifier {
  color: #f7fff7 !important;
  font-family: impact;
  font-size: 1em;
}
