.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register-modal .modal-content {
  background-color: #f7fff7 !important;
  border-width: thick !important;
  border-style: dashed !important;
  border-color: #707070 !important;
  border-radius: 25px !important;
  padding: 5px !important;
  color: none !important;
  background-clip: unset;
}

.photo-modal .modal-content {
  background-color: #f7fff7 !important;
  border-width: thick !important;
  border-style: dashed !important;
  border-color: #707070 !important;
  border-radius: 25px !important;
  padding: 5px !important;
  color: none !important;
  background-clip: unset;
}

.artifact-modal .modal-content {
  background-color: #f7fff7 !important;
  border-width: thick !important;
  border-style: dashed !important;
  border-color: #707070 !important;
  border-radius: 25px !important;
  padding: 5px !important;
  color: none !important;
  background-clip: unset;
}

.settings-modal .modal-content {
  background-color: #f7fff7 !important;
  border-width: thick !important;
  border-style: dashed !important;
  border-color: #707070 !important;
  border-radius: 25px !important;
  padding: 5px !important;
  color: none !important;
  background-clip: unset;
}
