.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*login*/

.signin-box {
    background-color: #f7fff7;
    border-radius: 25px;
    padding: 20px;
    position: fixed;
    height: 750;
    width: 705;
    top:165;
    left: 1087;
    box-shadow: 10px 10px;
}

.register-box {
    background-color: #1a535c;
    border-radius: 25px;
    padding: 20px;
    position: fixed;
    height: 750;
    width: 705;
    top:165;
    left: 128;
    box-shadow: 10px 10px;
}

.register-button {
    background-color: #4ECDC4;
    border-radius: 25px;
    padding: 20px;
    position: fixed;
    height: 68;
    width: 278;
    top: 810;
    left: 497;
    text-align: center;
    font-style: impact;
    font-size: 30px;
    box-shadow: 10px 10px;
}

.signin-button {
    background-color: #FF6B6B;
    border-radius: 25px;
    padding: 20px;
    position: fixed;
    height: 68;
    width: 278;
    top: 810;
    left: 497;
    text-align: center;
    font-style: impact;
    font-size: 30px;
    box-shadow: 10px 10px;
}

.create-input-box {
    background-color: #F7FFF7;
    text-align: center;
    border-radius: 25px;
    height: 67;
    width: 587;
}

.signin-input-box {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 25px;
    height: 67;
    width: 587;
    box-shadow: 5px 5px;
}



/*home*/

.home-button {
    background-color: #FFFFFF;
    text-align: center;
    height: 75;
    width: 200;
    font-style: sans-serif;
    padding: 20px;
    top: 548;
}
