body {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #1a535c !important;
}

.App {
  text-align: center;
  background: #1a535c !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Start global overrides */

.modal-content {
  background-color: #f7fff7 !important;
  border-radius: 25px !important;
  padding: 5px !important;
  color: none !important;
  background-clip: unset;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.hover-link:hover {
  opacity: 0.8;
}

/* End of global overrides */
