.list-component {
  list-style-type: none;
  background-color: grey;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.list-element {
  float: left;
}

.list-element a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 50px;
}

.list-element a:hover {
  background-color: black;
}