
.title {
    text-align: left;
    padding: 10px 10px 15px;
    color:#1A535C;
    font-family: impact !important;
    font-size: 48px;
}

.text-title {
    text-align: left;
    color:#1A535C;
    font-family: impact;
    font-size: 24px;
}

.text-field {
    text-align: left;
    padding: 15px;
    font-family: sans-serif;
    font-size: 16px;
    color:#1A535C;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 48px;
}

.button {
    text-align: center;
    height: 50px;
    width: 120px;
    font-family: impact;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin-left: 2%;
    margin-right: 2%;

    &-red {
        @extend .button;
        background-color: #FF6B6B;
    }
    &-grey {
        @extend .button;
        background-color: #1A535C;
    }
    &-teal {
        @extend .button;
        background-color: #4ECDC4;
    }
}